* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "NotoSansMono Nerd Font";
    font-weight: 500;
    font-size: 13px;
    padding: 0;
}

#waybar {
    background: rgba(29, 32, 33, 0.9);
    border: 0px;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
}

#custom-notification,
#custom-wlogout,
#cpu,
#memory,
#network,
#pulseaudio,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px ;
    padding: 2px 8px;
    background-color: #303536;
    border: 2px solid #434a4c;
    color: #d4be98;
}



#workspaces {
    background-color: #303536;
    margin: 6px 6px;
    border: 2px solid #434a4c;
}

#workspaces button {
    all: initial;
    min-width: 50px;
    padding: 2px 4px;
    color: #d4be98;
}

#workspaces button.focused {
    color: #ddc7a1;
}

#workspaces button:hover {
    background-color: #282828;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}



#battery {
    background-color: #a9b665;
    border: 2px solid #c7ab7a;
    color: #6c782e;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
}

#cpu.critical,
#memory.critical {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}
