@define-color cc-bg #302536;
@define-color noti-border-color #d4be98;
@define-color noti-bg rgba(29, 32, 33, 0.9);
@define-color noti-bg-darker rg3ba(29, 32, 33, 0.9);
@define-color noti-bg-hover #3c3b42;
@define-color noti-bg-focus rgba(60, 59, 66, 0.6);
@define-color noti-close-bg rgba(212, 190, 152, 0.1);
@define-color noti-close-bg-hover rgba(212, 190, 152, 0.15);
@define-color text-color #d4be98
@define-color text-color-disabled rgb(150, 150, 150);
@define-color bg-selected #d4be98;

* {
  font-family: JetBrainsMono NFM SemiBold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @noti-bg-darker;
}

.notification-row {
  outline: none;
  margin: 0px;
  padding: 0px;
}

.notification {
  background: @cc-bg;
  border: 2px solid @noti-bg-darker;
  border-radius: 0px;
  margin: 3px -2px 3px 0px;
}

.notification-content {
  background: @cc-bg;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 0px;
}

.close-button {
  background: #302536;
  color: @cc-bg;
  text-shadow: none;
  padding: 0px;
  border-radius: 0px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: #d4be98;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  border: 2px solid @noti-bg-darker;
  border-top: none;
  border-radius: 0px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @bg-selected;
  background: @cc-bg;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 5px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  border-radius: 5px;
  color: @text-color;
}

.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @noti-bg-hover;
}

.image {
  border-radius: 0px;
  margin-right: 10px;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: rgba(158, 206, 106, 1);
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.control-center {
  background: @cc-bg;
  border: 2px solid @noti-bg-darker;
  border-radius: 0px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.widget-title {
  color: @bg-selected;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.widget-title > button {
  font-size: 1rem;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  box-shadow: none;
  border-radius: 5px;
}

.widget-title > button:hover {
  background: @bg-selected;
  color: @cc-bg;
}

.widget-dnd {
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: large;
  color: @bg-selected;
}

.widget-dnd > switch {
  border-radius: 5px;
  background: @bg-selected;
}

.widget-dnd > switch:checked {
  background: @bg-selected;
  border: 1px solid @bg-selected;
}

.widget-dnd > switch slider,
.widget-dnd > switch:checked slider {
  background: @cc-bg;
  border-radius: 5px;
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label > label {
  font-size: 1rem;
  color: @text-color;
}

.widget-mpris {
  color: @text-color;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px 5px 10px;
  border-radius: 5px;
}

